{% extends 'movies_base.html' %}

{% block content %}
    <div class="container">
        <div class="card my-4 bg-black">
            <h4 class="card-header border-bottom">Add Movie</h4>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <fieldset class="form-groups">
                        <!-- Name -->
                        <div class="form-group">
                            <div class="form-group">
                                {{  form.name.label(class="form-control-label") }}

                                {% if form.name.errors %}
                                    {{ form.name(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for err in form.name.errors %}
                                            <span>{{ err }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.name(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>

                        <!-- Overview -->
                        <div class="form-group">
                            <div class="form-group">
                                {{  form.overview.label(class="form-control-label") }}

                                {% if form.overview.errors %}
                                    {{ form.overview(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for err in form.overview.errors %}
                                            <span>{{ err }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.overview(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>

                    <!-- Released -->
                        <div class="form-group">
                            <div class="form-group">
                                {{  form.released.label(class="form-control-label") }}

                                {% if form.released.errors %}
                                    {{ form.released(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for err in form.released.errors %}
                                            <span>{{ err }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.released(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>

                        <!-- Directors -->
                        <div class="form-group">
                            <div class="form-group">
                                {{  form.directors.label(class="form-control-label") }}

                                {% if form.directors.errors %}
                                    {{ form.directors(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for err in form.directors.errors %}
                                            <span>{{ err }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.directors(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>

                        <!-- Cast -->
                        <div class="form-group">
                            <div class="form-group">
                                {{  form.cast_list.label(class="form-control-label") }}

                                {% if form.cast_list.errors %}
                                    {{ form.cast_list(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for err in form.cast_list.errors %}
                                            <span>{{ err }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.cast_list(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>

                        <!-- Overview -->
                        <div class="form-group">
                            <div class="form-group">
                                {{  form.genres.label(class="form-control-label") }}

                                {% if form.genres.errors %}
                                    {{ form.genres(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for err in form.genres.errors %}
                                            <span>{{ err }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.genres(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>

                        <!-- Product Picture Upload -->
                        <div class="form-group">
                            {{ form.picture.label(class="form-control-label") }}
                            {{ form.picture(class="form-control-file", accept="image/png,image/jpeg") }}
                            <div class="text-danger">
                                {% for err in form.picture.errors %}
                                    <small>{{ err }}</small>
                                {% endfor %}
                            </div>
                        </div>
                    </fieldset>
                    <!-- Submit Button -->
                    <div class="form-group">
                        {{ form.add_btn(class="btn btn-dark") }}
                    </div>
                    <!-- CSRF token -->
                    {{ form.csrf_token }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}