{% extends 'movies_base.html' %}

{% block content %}
    <div class="container">
        <div class="row mb-4">
            <!-- Cover art -->
            <div class="col-md">
                <div class="card mb-4 px-1 h-100 bg-black">
                    <img class="y-100 w-100 m-auto"
                         src="{{ movie.rel_cover_art_path() }}"
                         alt="Product picture">
                </div>
            </div>

            <!-- Movie Details -->
            <div class="col-md-8">
                <div class="card mb-4 box-shadow h-100 bg-black">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.name }}</h5>
                        <!-- Price / Rating -->
                        <div class="d-flex justify-content-between pb-2 border-bottom">
                            <div>Text left</div>
                            <div>Text right</div>
                        </div>
                        <p class="card-text py-2 mb-0 border-bottom">{{ movie.overview }}</p>
                        <p class="card-text py-2 mb-0 border-bottom">Release date: {{ movie.released.strftime("%B %d, %Y") }}</p>
                        <p class="card-text py-2 mb-0">Director: {{ movie.directors  if movie.directors is not none else 'Unkown' }}</p>
                        <p class="card-text pb-2 mb-0">Cast: {{ movie.cast  if movie.cast is not none else 'Unkown' }}</p>
                        <p class="card-text mb-0">Genres: {{ movie.genres if movie.genres is not none else 'Unkown' }}</p>
                    </div>
                    <!-- Edit / Delete buttons -->
                    {% if current_user.is_authenticated and current_user.id == product.seller_id %}
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <a href="{{ url_for('edit_product', product_id=product.id) }}"
                                       class="btn btn-dark w-100">Edit product</a>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-danger w-100" data-toggle="modal"
                                            data-target="#deleteProductModal">Delete Product</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Similar products -->
        <div class="card bg-black">
            <div class="card-header">Similar movies you may also like</div>
            <div class="card-body">
                <div class="row">
                    {% for p in related_products %}
                        <div class="col-lg-4 col-md-6 mb-3">

                        </div>
                    {% endfor %}
                </div>
                {% if related_products|length == 0 %}
                    <div class="card w-100">
                        <div class="card-body text-center">
                            <p class="h4">No products found</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div><!-- Similar products end -->
    </div>
    </div>
{% endblock %}