{% extends 'movies_base.html' %}

{% block content %}
    <section class="jumbotron bg-transparent text-center p-0">
        <div class="container">
            <h1 class="jumbotron-heading">Browse Movies</h1>
        </div>
    </section>

    <div class="container">
        <div class="d-flex flex-row-reverse">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Sort Results
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ url_for('movie.star_filter') }}">Star Rating</a>
                    <a class="dropdown-item" href="{{ url_for('movie.genre_filter') }}">Genre</a>
                    <!--<a class="dropdown-item" href="#">Date of Showing?</a>-->
                </div>
            </div>
        </div>
    </div>

    <div class="album py-5">
        <div class="container">
            {% if movies|length > 0 %}
                <div class="card-columns">
                    {% for m in movies %}
                        <div class="h-100">
                            {% include("snippets/movie_preview.html") %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="card w-100 bg-dark">
                    <div class="card-body text-center">
                        <p class="h4">No movies found</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}