<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .moviebox {
            position: relative;
            top: 0%;
            right: 0%;
            text-transform: uppercase;
            font-family: verdana;
            font-size: 1.5em;
            font-weight: 700;
            color: cornflowerblue;
            text-shadow: 1px 1px 1px mediumblue, 1px 2px 1px blue, 1px 3px 1px #919191, 1px 4px 1px skyblue, 1px 5px 1px darkblue, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 5px 2px rgba(16, 16, 16, 0.4), 1px 10px 4px rgba(16, 16, 16, 0.2)
        }
    </style>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand " style="display: flex;">
            <img src="{{url_for('static', filename='')}}" alt="LOGO" class="rounded-circle" width="45" height="45">
            <span class="moviebox">Moviebox</span>
        </a>
    </nav>
    <div class="container h-100">
        <div class="justify-content-center align-items-center" style="position: relative; top: 10%; font-weight: 600;">
            <div class="card" style="width: 100%">
                <h4 class="card-header">Sign Up</h4>

                {% with messages = get_flashed_messages(category_filter=["error"]) %} {% if messages %} {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" style="margin: 20px;" role="alert">
                    <strong>error:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                {% endfor %} {% endif %} {% endwith %} {% with messages = get_flashed_messages(category_filter=["warning"]) %} {% if messages %} {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" style="margin: 20px;" role="alert">
                    <strong>warning:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                {% endfor %} {% endif %} {% endwith %} {% with messages = get_flashed_messages(category_filter=["update"]) %} {% if messages %} {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" style="margin: 20px;" role="alert">
                    <strong>update:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %} {% endif %} {% endwith %} {% block content %}
                <div class="container">

                    <form class="form-signin" method="POST" action="/signup">
                        {{ form.hidden_tag() }}
                        <br>
                        <br>
                        <div class="row g-3">
                            <div class="col">
                                <label>First Name</label> {{ form.firstname (class_='form-control is-invalid' ,**{'aria-describedby':"inputGroupPrepend2 validationServerfirstnameFeedback1", 'style':"border-color: grey;"} ) }} {%if form.firstname.errors%}
                                {% for errors in form.firstname.errors %}
                                <div id="validationServerfirstnameFeedback" class="invalid-feedback">
                                    {{ errors }}
                                </div>
                                {% endfor %} {%endif%}
                            </div>
                            <div class="col">
                                <label>Last Name</label> {{ form.lastname (class_='form-control is-invalid' ,**{'aria-describedby':"inputGroupPrepend2 validationServerlastnameFeedback1", 'style':"border-color: grey;"} ) }} {%if form.lastname.errors%}
                                {% for errors in form.lastname.errors %}
                                <div id="validationServerlastnameFeedback" class="invalid-feedback">
                                    {{ errors }}
                                </div>
                                {% endfor %} {%endif%}
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col">
                                <label>Email </label> {{ form.email (class_='form-control is-invalid' ,**{'aria-describedby':"inputGroupPrepend2 validationServeremailFeedback1", 'style':"border-color: grey;"} ) }} {%if form.email.errors%} {% for errors
                                in form.email.errors %}
                                <div id="validationServeremailFeedback" class="invalid-feedback">
                                    {{ errors }}
                                </div>
                                {% endfor %} {%endif%}
                            </div>
                            <div class="col-md-4">
                                <label for="validationDefaultUsername" class="form-label">Username</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="inputGroupPrepend2">@</span> {{ form.username (class_='form-control is-invalid' ,**{'aria-describedby':"inputGroupPrepend2 validationServerUsernameFeedback", 'style':"border-color:
                                    grey;"} ) }} {%if form.username.errors%} {% for errors in form.username.errors %}
                                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                        {{ errors }}
                                    </div>
                                    {% endfor %} {%endif%}
                                </div>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col">
                                <label>Password</label> {{ form.password (class_='form-control is-invalid' ,**{'aria-describedby':"inputGroupPrepend2 validationServerPasswordFeedback1", 'style':"border-color: grey;"} ) }} {%if form.password.errors%} {%
                                for errors in form.password.errors %}
                                <div id="validationServerPasswordFeedback" class="invalid-feedback">
                                    {{ errors }}
                                </div>
                                {% endfor %} {%endif%}
                            </div>
                            <div class="col">
                                <label>Re-Password:</label> {{ form.confirmPassword (class_='form-control is-invalid' ,**{'aria-describedby':"inputGroupPrepend2 validationServerconfirmPasswordFeedback1", 'style':"border-color: grey;"} ) }} {%if form.confirmPassword.errors%}
                                {% for errors in form.confirmPassword.errors %}
                                <div id="validationServerconfirmPasswordFeedback" class="invalid-feedback">
                                    {{ errors }}
                                </div>
                                {% endfor %} {%endif%}
                            </div>
                        </div>
                        <br>
                        <br> {{ form.consent }} I consent for storing all my data securely, including passwords
                        <br>
                        <br>
                        <div style="width:50%">
                            {{ form.Signupbtn (class_='btn btn-lg btn-success') }}
                        </div>

                    </form>
                    <hr style="border-top: 1px solid black; width:50%">
                    <form method="get" action="/login">
                        <div style="display: flex;justify-content: center;">
                            <p style="margin-bottom: 0rem;">If u are already an existing user,</p>
                            <button type="submit" class="btn btn-outline-primary btn-sm">Log in!</button>
                        </div>
                    </form>

                </div>
                <!-- /container -->
</body>

</html>
{% endblock %}