@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

.section-line {
    display: flex;
    align-items: center;
    text-align: left;
}

.section-line::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #FFF;
}

.section-line:not(:empty)::after {
    margin-left: .3em;
}
