<!-- cookie warning toast -->
<div class="fixed-bottom d-none" id="cookieAlert">
    <div class="toast bg-dark text-white w-100" role="alert" data-autohide="false">
        <div class="toast-body p-4 d-flex flex-column container">
            <h4>Cookie Warning</h4>
            <p>This website uses persistent cookies to
            </p>
            <ul>
                <li>enable login remember me functionality</li>
                <li>remember cookie preferences (stop this annoying you each session)</li>
            </ul>
            <p>Non-persistent cookies are to remember choice.</p>
            <div class="ml-auto">
                <button type="button" class="btn btn-outline-light mr-3" id="cookieDeny">Deny</button>
                <button type="button" class="btn btn-success" id="cookieAccept">Accept</button>
            </div>
        </div>
    </div>
</div>