{% extends 'user_base.html' %}

{% block content %}
    <div class="container">
        <div class="card bg-black">
            <h4 class="card-header border-bottom">Request reset password</h4>

            <div class="card-body">
                <form action="" method="post">
                    <!-- Email -->
                    <div class="form-group">
                        {{ get_field_html(form.email) }}
                        <small id="emailHelp" class="form-text text-muted">We'll never share your
                            email
                            with anyone else.</small>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>

                    {{ form.hidden_tag() }}
                </form>
                <div class="border-top pt-2">
                    <small class="text-muted">
                        Return to <a class="ml-1" href="{{ url_for('user.login_get') }}">login</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
