{% extends 'user_base.html' %}

{% block content %}
    <div class="container">
        <div class="card bg-black">
            <h4 class="card-header border-bottom">Login</h4>

            <div class="card-body">
                <form action="" method="post">
                    <fieldset class="form-groups">
                        <!-- Email -->
                        {{ get_field_group_html(form.email) }}

                        <!-- Password -->
                        {{ get_field_group_html(form.password) }}

                        <!-- Remember Me -->
                        <div class="form-group form-check">
                            {{ form.remember(class="form-check-input") }}
                            {{ form.remember.label(class="form-check-label") }}
                        </div>
                    </fieldset>

                    <!-- Submit Button -->
                    <div class="form-group">
                        {{ form.login_btn(class="btn btn-primary d-block") }}
                        <small class="text-muted">
                            <a class="ml-1" href="{{ url_for('user.forgot_password') }}">Forgot password</a>
                        </small>
                    </div>

                    {{ form.hidden_tag() }}
                </form>
                <div class="border-top pt-2">
                    <small class="text-muted">
                        Not got an account? <a class="ml-1" href="{{ url_for('user.signup_get') }}">Register
                        Now</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
