{% extends "user_base.html" %}

{% block content %}
    <div class="container">
        <div class="card bg-black">
            <h4 class="card-header border-bottom">Reset Your Password</h4>

            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-groups">
                        <!-- Password -->
                        {{ get_field_group_html(form.password) }}

                        <!-- Confirm password -->
                        {{ get_field_group_html(form.password2) }}
                    </fieldset>
                    <!-- Submit Button -->
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary d-block") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
