{% extends 'booking_base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <h1>You Have Selected <span style="color:red">{{title}}</span></h1>
    </div>
    <div class="row">
        <h2>At time: </h2>
    </div>
    <div class="row justify-content-md-center">
        <div class=" bg-success text-white">
            <h2>{{times.time.strftime('%H:%M') }} On {{times.time.strftime('%d/%m') }}</h2>
        </div>
    </div>

    <div class="row justify-content-md-center pt-4">
        <h1 class="pt-4">Seats:</h1>
        <div class=" bg-success text-white">
            {% for seat in seats %}
            <h3> {{seat}} </h3>
            {% endfor %}
        </div>
    </div>

    <main role="main" class="container">

        <body class="text-center">
        <form class="form-signin" method="POST" action="">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">Pay</h1>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.card.label(class="form-control-label") }}
                {{ form.card(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.cvc.label(class="form-control-label") }}
                {{ form.cvc(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        </body>

    </main>
</div>
{% endblock %}