{% extends 'booking_base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <h1>You Have Selected <span style="color:red">{{title}}</span></h1>
    </div>
    <div class="row">
        <h2>At time: </h2>

    </div>
    <div class="row justify-content-md-center">
            <div class=" bg-success text-white">
                <h2>{{times.time.strftime('%H:%M') }} On {{times.time.strftime('%d/%m') }}</h2>
            </div>
        </div>

</div>

<script>
        //This is to show seats once time selected.
        function showSeats() {
        var x = document.getElementById("seats");
        if(x.style.display === "none"){
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        }


</script>
{% endblock %}