<nav class="navbar navbar-expand-lg navbar-dark mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container">
        <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Nav bar left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand d-flex" href="{{ url_for('home.home') }}">
                        <span class="movie_box">Moviebox</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('movie.view_multiple') }}">Browse Movies</a>
                </li>
            </ul>

            <div class="mr-2">
                <form class="form-inline input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <div class="input-group-text p-0">
                            <button class="btn" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Nav bar right -->
            <ul class="nav navbar-nav navbar-right">
                {% if True %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cinema Management
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{{ url_for('admin.index') }}">Admin</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('movie.add_get') }}">Add new film</a>
                            <a class="dropdown-item" href="#">Manage films</a>
                        </div>
                    </li>
                {% endif %}

                {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ current_user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{{ url_for('user.manage') }}">Manage Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('user.logout') }}">Logout (No CSRF)</a>
                            <form action="{{ url_for('user.logout') }}" method="post">
                                {{ simple_form.csrf_token(id="logoutCsrfToken") }}
                                <button class="dropdown-item" type="submit">Logout</button>
                            </form>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user.login', next=request.path) }}">Login</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('user.signup') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
