hr {
    border: 5px solid white;
    border-top: 10px;
}

.containerAd {
    position: relative;
    text-align: center;
    color: white;
}

.location {
    font-family: cursive;
    font-size: 25px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}

.text-monospace {
    font-family: monospace;
}

.mt-neg-3 {
    margin-top: -3rem;
}

